#root {
  width: 100vw;
  height: 100vh;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  padding: 10px;
  height: 92.5vh;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

main a {
  color: var(--primary-text-color);
  text-decoration: none;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  height: 100%;
}

h1 {
  margin: 10px;
  color: var(--primary-text-color);
  font-weight: 400;
}

p {
  padding: 5px;
}

span {
  padding: 3px;
  font-size: 0.8em;
  font-weight: 400;
}

article {
  height: 90%;
  overflow: hidden auto;
}

select {
  border: 0;
  width: 100px;
  margin-right: 5px;
  padding: 5px;
  font-size: 1.1em;
  font-weight: 400;
  background-color: var(--secondary-color);
  border-radius: 0.3em;
}

button {
  padding: 8px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  z-index: 2;
}

button:disabled {
  background-color: rgba(239, 239, 239, 0.3);
  cursor: no-drop;
}

/* RESPONSIVE */
@media screen and (max-width: 640px) {
  
}
