/* HEADER */
header {
    height: 7.5vh;
}

header nav {
    display: flex;
    height: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

header nav ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    border-top: 3px solid transparent;
    cursor: pointer;
 }

header nav ul > li:hover {
    border-top: 3px solid var(--primary-color);
    color: var(--primary-color);
}

/* LOGO */
header nav ul li:nth-child(3) {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    width: 100px;
}
header nav ul li:nth-child(3):hover {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}
header nav ul li:nth-child(3) .App-logo {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}
header nav ul li:nth-child(3) .App-logo i {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Last child Menu for responsive */
header nav ul li:nth-last-child(1) {
    display: none;
    width: 50px;
    font-size: xx-large;
    color: var(--text-color);
    border-top: 3px solid transparent;
}
header nav ul li:nth-last-child(1):hover {
    background-color: none;
}

/* NAV MOBILE */
.nav-mobile {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    z-index: 2;
}

.nav-mobile p {
    color: transparent;
    font-size: 0.9em;
    padding: 15px;
    animation-name: p-color;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.nav-mobile.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 0vh;
    position: absolute;
    top: 50px;
    animation: develop-menu forwards 0.5s linear;
}

.nav-mobile.open ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    opacity: 0;
    list-style-type: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    animation-name: view-link;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.nav-mobile.open ul > li {
    width: 100%;
    padding: 15px;
    margin-bottom: 1px;
    text-align: right;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* Animations Menu */
@keyframes p-color { 0% { color: transparent; } 100% { color: black; } }
@keyframes develop-menu { 0% { height: 0vh; } 95% { height: 90vh; } 100% { height: -webkit-fill-available; } }
@keyframes view-link { 0% { opacity: 0; } 100% { opacity: 1; } }
/* --------------- */

/* Animation Logo */
@media (prefers-reduced-motion: no-preference) { .App-logo i { animation: App-logo-spin infinite 2.5s linear; } }
@keyframes App-logo-spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
/* -------------- */

/* RESPONSIVE */
@media screen and (max-width: 640px) {
    /* HEADER */
    header nav ul {
        justify-content: space-between;
    }
    header nav ul > li {
        display: none;
    }
    header nav ul li:nth-child(3) {
        display: inherit;
        background-color: var(--primary-color);
        color: var(--primary-text-color);
        width: 100px;
        z-index: 2;
    }
    /* Last for Menu responsive */
    header nav ul li:nth-last-child(1) {
        display: inherit;
        font-size: xx-large;
        color: var(--text-color);
        z-index: 2;
    }
}
