section.newYear {
    display: flex;
    flex-direction: column;
}

section.newYear div.nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    z-index: 2;
}

section.newYear div.nav h2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    font-size: 1.2em;
    font-weight: 400;
}

section.newYear div.nav h2 span {
    font-size: 0.6em;
}

section.newYear button {
    padding: 8px;
    border: none;
    margin: 10px auto;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    cursor: pointer;
    z-index: 2;
}

section.newYear div button {
    margin: 5px;
}

/* SIGNS */
section.newYear.rat, section.newYear.buffle, section.newYear.tigre, section.newYear.lapin, section.newYear.dragon, section.newYear.serpent,
section.newYear.cheval, section.newYear.chevre, section.newYear.singe, section.newYear.coq, section.newYear.chien, section.newYear.cochon {
    background-repeat: no-repeat;
    background-position: 85% 0%;
    background-size: 40px;
    z-index: 1;
}
section.newYear.rat {
    background-image: url(../../assets/signs/chinese/rat.png);
}
section.newYear.buffle {
    background-image: url(../../assets/signs/chinese/buffle.png);
}
section.newYear.tigre {
    background-image: url(../../assets/signs/chinese/tigre.png);
}
section.newYear.lapin {
    background-image: url(../../assets/signs/chinese/lapin.png);
}
section.newYear.dragon {
    background-image: url(../../assets/signs/chinese/dragon.png);
}
section.newYear.serpent {
    background-image: url(../../assets/signs/chinese/serpent.png);
}
section.newYear.cheval {
    background-image: url(../../assets/signs/chinese/cheval.png);
}
section.newYear.chevre {
    background-image: url(../../assets/signs/chinese/chevre.png);
}
section.newYear.singe {
    background-image: url(../../assets/signs/chinese/singe.png);
}
section.newYear.coq {
    background-image: url(../../assets/signs/chinese/coq.png);
}
section.newYear.chien {
    background-image: url(../../assets/signs/chinese/chien.png);
}
section.newYear.cochon {
    background-image: url(../../assets/signs/chinese/cochon.png);
}

section.newYear article {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: auto;
    border-radius: 0.4em;
    background-color: white;
    color: black;
}

section.newYear article div {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}
