/* MAIN */
main, section {
    padding: 10px;
    height: 300px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 93vh;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

main a {
    color: var(--primary-text-color);
    text-decoration: none;
}

/* RESPONSIVE */
@media screen and (max-width: 640px) {
    section.newYear h2 {
        font-size: 1.1em;
        font-weight: 400;
    }
    section.newYear p {
        font-size: 0.9em;
    }
}
