@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');

:root {
  --primary-color: #B10000;
  --primary-color-bis: #9B0000;
  --primary-text-color: #EEE;
  --secondary-color: #EEE;
  --secondary-text-color: #B10000;
  --text-color: #333333;

  --color-metal: #d7d7d7;
  --color-water: #2AA0DF/*#20D7D7*/;
  --color-wood: #D38922/*#bd7b1f*/;
  --color-fire: #c73131;
  --color-earth: #20d735;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

/* ScrollBar - Chrome / Edge */
*::-webkit-scrollbar {
  max-width: 5px;
  max-height: 90%;
  background-color: rgba(0,0,0,.15);
  border-radius: 0.2em;
}
*::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 0.2em;
}
/* ************************* */

body {
  background: var(--secondary-color);
  color:  var(--text-color);
}
