/*section.rat::before, section.buffle::before, section.tigre::before, section.lapin::before, section.dragon::before, section.serpent::before,
section.cheval::before, section.chevre::before, section.singe::before, section.coq::before, section.chien::before, section.cochon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #b1000090;
    z-index: -1;
}

section.rat, section.buffle, section.tigre, section.lapin, section.dragon, section.serpent,
section.cheval, section.chevre, section.singe, section.coq, section.chien, section.cochon {
    background-repeat: no-repeat;
    background-position: 100% 100%;
    z-index: 1;
}

section.rat {
    background-image: url(../../assets/signs/chinese/rat.png);
}
section.buffle {
    background-image: url(../../assets/signs/chinese/buffle.png);
}
section.tigre {
    background-image: url(../../assets/signs/chinese/tigre.png);
}
section.lapin {
    background-image: url(../../assets/signs/chinese/lapin.png);
}
section.dragon {
    background-image: url(../../assets/signs/chinese/dragon.png);
}
section.serpent {
    background-image: url(../../assets/signs/chinese/serpent.png);
}
section.cheval {
    background-image: url(../../assets/signs/chinese/cheval.png);
}
section.chevre {
    background-image: url(../../assets/signs/chinese/chevre.png);
}
section.singe {
    background-image: url(../../assets/signs/chinese/singe.png);
}
section.coq {
    background-image: url(../../assets/signs/chinese/coq.png);
}
section.chien {
    background-image: url(../../assets/signs/chinese/chien.png);
}
section.cochon {
    background-image: url(../../assets/signs/chinese/cochon.png);
}
*/