div.rat, div.buffle, div.tigre, div.lapin, div.dragon, div.serpent,
div.cheval, div.chevre, div.singe, div.coq, div.chien, div.cochon {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    min-height: 40px;
}

div.rat {
    background-image: url(../../assets/signs/chinese/rat.png);
}
div.buffle {
    background-image: url(../../assets/signs/chinese/buffle.png);
}
div.tigre {
    background-image: url(../../assets/signs/chinese/tigre.png);
}
div.lapin {
    background-image: url(../../assets/signs/chinese/lapin.png);
}
div.dragon {
    background-image: url(../../assets/signs/chinese/dragon.png);
}
div.serpent {
    background-image: url(../../assets/signs/chinese/serpent.png);
}
div.cheval {
    background-image: url(../../assets/signs/chinese/cheval.png);
}
div.chevre {
    background-image: url(../../assets/signs/chinese/chevre.png);
}
div.singe {
    background-image: url(../../assets/signs/chinese/singe.png);
}
div.coq {
    background-image: url(../../assets/signs/chinese/coq.png);
}
div.chien {
    background-image: url(../../assets/signs/chinese/chien.png);
}
div.cochon {
    background-image: url(../../assets/signs/chinese/cochon.png);
}

/* RESPONSIVE */
@media screen and (max-width: 640px) {
    
}
